<div class="game">
    <div class="help">
        Pick 1 or more numbers that sum to the number of stars
    </div>
    <div class="body">
        <div class="left">
            <app-play-again *ngIf="service.gameStatus !== 'active'"></app-play-again>
            <app-star-display *ngIf="service.gameStatus === 'active'" [num]=service.stars></app-star-display>
        </div>
        <div class="right">
         <app-number
            *ngFor="let num of service.range(1, 9)"
            [num]="num"
         ></app-number>

        </div>
      </div>
      <div class="timer">Time Remaining: {{this.secondsLeft}}</div>
</div>